.about.section {

  @media (min-width: 768px) {
    // width: 768px;
  }
  
  @media (min-width:1200px) {
    // width: 1200px;
    padding-top: 0;
  }  
}

.about__container {

  @media (min-width: 768px) {
    // width: 768px;
  }
  
  @media (min-width:1200px) {
    // width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }  
}

.about-card {

  @media (min-width: 768px) {
    // width: 768px;
  }
  
  @media (min-width:1200px) {
    // width: 1200px;
    flex-basis: calc(100% / 3 - var(--flex-grid-gap));
    margin-top: var(--flex-grid-gap);
    margin-left: var(--flex-grid-gap);
  }  
}

.about .card__thumb {

  @media (min-width: 768px) {
    // width: 768px;
  }
  
  @media (min-width:1200px) {
    // width: 1200px;
    position: relative;
    max-height: 294px;
  }  
}

.about-card .overlay {

  @media (min-width: 768px) {
    // width: 768px;
  }
  
  @media (min-width:1200px) {
    // width: 1200px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 27px 15px;
    text-align: center;
    background: var(--about-overlay-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    transition-property: transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }  
}
