.filter-set {

  @media (min-width: 768px) {
    // width: 768px;
  }
  
  @media (min-width:1200px) {
    // width: 1200px;
    display: flex;
  
    justify-content: center;
    margin-bottom: 50px;
  }  
}

.filter-item:not(:last-child) {

  @media (min-width: 768px) {
    // width: 768px;
  }
  
  @media (min-width:1200px) {
    // width: 1200px;
    margin-right: 8px;
  }  
}
