/* Logo styles */
.logo {

  @media (min-width: 768px) {
    // width: 768px;
  }
  
  @media (min-width:1200px) {
    // width: 1200px;
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  
    &:hover,
    &:focus {
      outline: none;
  
      /* text-shadow: var(--button-shadow); */
    }
  }  
}

.logo__part {

  @media (min-width: 768px) {
    // width: 768px;
  }
  
  @media (min-width:1200px) {
    // width: 1200px;
    color: var(--black-color);
  }  
}
