.section {

  @media (min-width: 768px) {
    // width: 768px;
  }
  
  @media (min-width:1200px) {
    // width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }  
}

.section__title {

  @media (min-width: 768px) {
    // width: 768px;
  }
  
  @media (min-width:1200px) {
    // width: 1200px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: var(--secondary-color);
  }  
}
