.current-page {

  @media (min-width: 768px) {
    // width: 768px;
  }
  
  @media (min-width:1200px) {
    // width: 1200px;
    color: var(--accent-color);
    position: relative;
  
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  
    
    &:hover,
    &:focus {
      color: var(--hover-background-color);
  
      /* text-shadow: var(--button-shadow); */
    }
  }  
}


.current-page::after {

  @media (min-width: 768px) {
    // width: 768px;
  }
  
  @media (min-width:1200px) {
    // width: 1200px;
    background-color: var(--accent-color);
  }  
}

.current-page:hover::after,
.current-page:focus::after {

  @media (min-width: 768px) {
    // width: 768px;
  }
  
  @media (min-width:1200px) {
    // width: 1200px;
    background-color: var(--hover-background-color);
  }  
}

